.common-left-area {
    position: fixed;
    float: left;
    width: 160px;
    height: 100%;
    background: #fff;
    padding: 0 0 50px;
    z-index: 6;
}

.common-left-area .logo {
    position: relative;
    width: 159px;
    padding-bottom: 85px;
    background: #fff;
    z-index: 10;
}

.side-menu {
	text-decoration: none;
	
}
.clear {
	clear: right;		
}

.top-menu {
	text-decoration: none;
	color:black;	

}

ul {
	list-style: none; 
}

li {
	float: left;	
}