<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace ="com.hongcheol.march.modules.main.MainMapper">
	
	<resultMap id = "resultMapObj" type="com.hongcheol.march.modules.main.Main"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
    		a.*
   		FROM car a
   		WHERE 1=1
	</select>
	
	<select id="selectCommon">
		FROM cc a
		WHERE 1=1R
			<if test="shDelNy != null and !shDelNy.equals('')">AND delNy = #{sheDelNy}</if>
			<choose>
				<when test="shOption == 1">AND madeCountry = #{shValue}</when>
			</choose>
	</select> 
	
	<select id="searchMadeCountry" resultMap="resultMapObj">
		SELECT
			a.*
		FROM mainSearch a
		WHERE 1=1 
		group by madeCountry
	</select>
	
	<select id="searchMadeby" resultMap="resultMapObj">
		SELECT
			a.*
		FROM mainSearch a
		WHERE 1=1
			AND madeCountry = #{madeCountry}
		group by madeby
	</select>
	
	<select id="searchModel" resultMap="resultMapObj">
		SELECT
			a.*
		FROM mainSearch a
		WHERE 1=1
			AND madeCountry = #{madeCountry}
			AND madeby = #{madeby} 
		group by model
	</select>
</mapper>