<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongcheol.march.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.hongcheol.march.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	
	 select
		a.seq
        ,a.codeGroup
        ,a.shDelny
        ,a.codeNamek
        ,a.codeNameEn
        ,a.registrationDate
        ,a.revisedDate
        ,b.codeName
        ,b.ccg_seq
        ,b.delNy
        ,b.substituteCode
        ,b.codeNameK
        ,b.codeNameEn
        ,b.useNy
        ,b.turn
        ,b.registrationDate
        ,b.revisedDate
        from ccg a
        inner join cc b
        on b.seq = a.seq
    
	</select>

</mapper>	