<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongcheol.march.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.hongcheol.march.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	
	 SELECT
		a.*
		From cc a
		WHERE 1=1	
		
		
		<if test="shDelNy != null and !shDelNy.equals('')">AND shDelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND Seq = #{shValue}</when>
			<when test="shOption == 2">AND codeGroup LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM cc a
		WHERE 1=1
			AND seq = #{seq}
	</select>
	

	
	<insert id="insert">
		INSERT INTO cc (
			codeNameK
			,codeNameEn
			,turn
			,codeAn
			
			
		)
		VALUES(
			#{codeNameK}
			,#{codeNameEn}
			,#{turn}
			,#{codeAn}
			
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE cc
		SET
			codeNameK = #{codeNameK}
			,codeNameEn = #{codeNameEn}
			,turn = #{turn}
			,codeAn = #{codeAn}
			,shDelNy = #{shDelNy} 
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE cc
		SET
			codeNameK = #{codeNameK}
			,codeNameEn = #{codeNameEn}
			,turn = #{turn}
			,codeAn = #{codeAn}
			,shDelNy = #{shDelNy} 
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM cc WHERE seq = #{seq}
	</delete>
	
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupCode
		FROM cc a
		WHERE 1=1
			AND delNY = 0
			AND useNy = 1
		ORDER BY a.seq DESC
	</select>
	
	
	
	

</mapper>	