<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace ="com.hongcheol.march.modules.buy.BuyMapper">
	
	<resultMap id = "resultMapObj" type="com.hongcheol.march.modules.buy.Buy"></resultMap>
	
	<select id="selectlist" resultMap="resultMapObj">
		SELECT
    		a.*
   		FROM car a
   		WHERE 1=1
   			AND delNy = 0
   			AND seq LIKE CONCAT('%'.#{shValue}),'%')
	</select>
		
<!-- 	<sql id = "selectCommon">
		FORM member a
		WHERE 1=1
			<if test ="shDelNy" != null and !shDelNy.equals('')> AND delNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1 ">AND  madeBy = #{shValue}</when>
				<when test="shOption == 2 ">AND  model LIKE CONCAT{shValue},'%'</when>
				<when test="shOption == 3 ">AND  carName LIKE CONCT{shValue},'%'</when>
			</choose>
	</sql> -->
	
<!-- 	<select id="selectListWithoutPaging" resultMap="resultMaObj">
		SELECT
			a.seq
		FROM car a
			AND delNy= 0
			And useNy= 1
		ORDER BY a.seq DESC
	</select> -->
</mapper>