<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org //DTD Mpaaer 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hongcheol.march.modules.sellRegForm.SellRegFormMapper">
	
	<resultMap id="resultMapObj" type="com.hongcheol.march.modules.sellRegForm.SellRegForm"></resultMap>
	
	<insert id="insert">
		INSERT INTO car (
			carNumber
			,carAge
			,carMleage
			,carEngine
			,carGearBox
			,carFuelEfficiency
			,carKind
			,carCc
			,color
			,taxe
			,seize
			,collateral
			,presentNumber
			,member_seq
		)
		VALUE (
			#{carNumber}
			,#{carAge}
			,#{carMleage}
			,#{carEngine}
			,#{carGearBox}
			,#{carFuelEfficiency}
			,#{carKind}
			,#{carCc}
			,#{color}
			,#{taxe}
			,#{seize}
			,#{collateral}
			,#{presentNumber}
			,#{member_seq}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>

